
.watchPage__container {
  max-width: 100%;
  /* Prevent overflow beyond the viewport */
  overflow-x: hidden;
  /* Hide horizontal overflow */
  box-sizing: border-box;
  /* Include padding/borders in width */
  display: flex;
  /* Flexbox for layout */
  flex-wrap: wrap;
  /* Allow wrapping for columns on smaller screens */
  justify-content: space-between;
  /* Prevent overlapping */
  margin: 0 auto;
  /* Center the container */
  padding: 1rem;
  /* Optional: Add some padding */
}
.watchPage__player{
height:60vh;
background-color: #353946;
width:100%;
margin-bottom: 2rem;
box-sizing: border-box;

iframe{
  border-radius: 5px;
}
}