@use '../../base.scss';

.video{
  margin-bottom: 1rem;
  padding: 0.7rem;
  font-weight: 500;
  font-size:0.7rem;
  cursor: pointer;

  &_info{
    display: flex;
    }
  &_creator_img {
          flex-grow: 0.3;
    
          img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            margin-right: 0.5rem;
            cursor: pointer;
          }
  }
  &_top{
    // margin-bottom: 0.5rem;
    margin-bottom:0.5rem;
    position: relative;
    img{
      width:100%;
    }

    span{
      position: absolute;
      bottom:0.3rem;
      right:0.3rem;
      padding:0.2rem;
      background-color:$black-secondary;
      border-radius: 3px;
      z-index: 999;

    }

  }

  &_title{
    margin-bottom: 0.1rem;
    color: #fff;
    @include line-clamp(2)
  }

  &_details{

    display:flex;
    align-items: center;
  }

  &_channel{
    display: flex;
    align-items:center;
    margin: 0.5rem 0;

    
  }
}